.btn1{
    margin-left: 5px;
    padding: 10px;
    width: 100px;
    border: 1px solid black;
    box-shadow: 5px 10px 8px #888888;
}
.cart{
    background-color: antiquewhite !important;
}
.cart img{
    border-radius: 25px;
    box-shadow: 10px 10px 10px black;
}
.navbarSupportedContent ul li{
    border: 1px solid wheat !important;
    border-radius: 5px !important;
}
.navbarSupportedContent ul li:hover{
    background-color: rgb(9, 141, 97) !important;
}

/* :hover{
    background-color: rgb(9, 141, 97) !important;
} */
/* {
    background-color: aqua !important;
} */
/* .active{
    background-color: #888888;
    border-radius: 5px !important;
} */
.head{
    font-family: 'Times New Roman', Times, serif;
}