.navbar{
    height: 40%;
    width: 100%;
    /* border: 1px solid black; */
}
.navbar li{
    list-style: none;
    float: left;
}
.navbar li a{
    text-decoration: none;
    padding: 25px;
    color: black;
}
img{
    float: left;
}
.cart{
    background-color: antiquewhite !important;
}
.cart img{
    border-radius: 25px;
    box-shadow: 10px 10px 10px black;
    backdrop-filter: blur(5px);
}
